.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backimage{
  background: burlywood;
  
 

}

.hometop{
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 50px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh ;
  font-family:cursive;
  
 text-align: center;
}
.arrowdown{
color: #282c34;
font-size: 4rem;

}


.logintext{
  font-family: cursive;
 text-align:center;
 display: inline-block;
 align-items: center;
}
.loginbot{
  align-items: center;
  text-align: center;
}
.logintextbox{
  text-align: center;
  align-items: center;
  margin-left: 20px;
}

.footerone{
  background: transparent;
  
  position:unset;
  bottom: 0;
  left: o;
  right: 0;
  width:100vw;
  height: auto;
  padding-top: 40px;
}

.footertwo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footercolumn{
  
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 50px;

}

.footerrow{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 10px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.footerflink{
  color: black;
  margin-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
}
.footerheading{
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.reghed{
  color: olive;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;

}

.texthead{
  font-weight: bolder;
  text-shadow: peru;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  border-radius: 2%;
  width: fit-content;
}

.addsupp{
  background-color: #61dafb;
}

.fitcolor{
  color: yellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerone{
  @include size(400px, auto);
  @include flex(center, center, column);
  
  margin: 10 auto;
  background-color: white;

border-color: aqua;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: transparent;


}

.firstblock{
  background-color: aqua;
  border: 5em;
  margin-left: 5rem;
}
.secondblock{
  background-color: blue;
  background-position: center;
  align-items: center;
  margin-left: 50em;
  margin-bottom: 60em;
  display: inline-block;
}



.e-card-image {
  background: url('./logo.svg');
  height: 160px;
  padding: top 50px;;
  border: 10rem;
  ;
  
}

.e-card {
  width: 200px;
  margin: auto;
  color: #61dafb;
}

.loginform{
 width: 60%;
 display: inline-block;
  box-sizing:border-box;
  border: 3px solid #ccc;
  color: rgb(161, 142, 220);
  background-color: #282c34;
  margin: 6px 0;
  border-radius: 8px;
  height: 100%;
  border-color: aqua;
  align-items: center;
  margin-left: -150px;
}


.loginnext{
  font-family:cursive;
 font-weight: bold;
 margin: 8px 0 ;
flood-color: grey;
border-color: #61dafb;
text-align: center;
text-decoration:underline;
text-decoration-color: chocolate;

}
.registerform{
  width: 80%;
  box-sizing:border-box;
  border: 3px solid #ccc;
  background-color:grey;
  margin: 6px 0;
  margin-left: 500px;
  border-radius: 8px;
  border-bottom-color: aqua;
  border-style: double;
  border-color: chartreuse;
}
.registertext{
  font-family: cursive;
  text-align:center;
  display: inline-block;
  align-items: center;

}
.registertextbox{
  text-align: center;
  align-items: center;
  margin-left: 20px;
}

.registerbot{
  align-items: center;
  text-align: center;
}

.supplementaddform{
  width: 80%;
  box-sizing:border-box;
  border: 3px solid #ccc;
  background-color:grey;
  margin: 6px 0;
  margin-left: -20px;
  border-radius: 8px;
  border-bottom-color: aqua;
  border-style: double;
  border-color: chartreuse;
}
.supplementaddtext{
  text-align: center;
  align-items: center;
  font-family: cursive;
  font-weight: bold;
}
.supplementbot{
  align-items: center;
  text-align: center;
}
.showsupplementbox{
  width: 80%;
  box-sizing:border-box;
  border: 3px solid #ccc;
  background-color:darkkhaki;
 
  border-radius: 8px;
  
  border-style: double;
  border-color: chartreuse;

}
.showproductbox{
  width: 80%;
  box-sizing:border-box;
  border: 3px solid #ccc;
  background-color:darkkhaki;
 
  border-radius: 8px;
  border-top-style: groove;
  border-style: double;
  border-color: chartreuse;

}
.updatesupplementleft{
  width: 80%;
  box-sizing:border-box;
  border: 3px solid #ccc;
  background-color:darkkhaki;
 
  border-radius: 8px;
  border-top-style: groove;
  border-style: double;
  border-color: chartreuse;

}

.updatesuppright{
  width: 80%;
  box-sizing:border-box;
  border: 3px solid #ccc;
  background-color:grey;
  margin: 6px 0;
  margin-left: 20px;
  border-radius: 8px;
  border-bottom-color: aqua;
  border-style: double;
  border-color: chartreuse;

}
.updatesup{
  text-align: center;
  text-decoration: double;
  text-decoration: underline;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.updatesuptext{
  text-align: center;
  font-weight: bold;
  align-items: center;

}
.logoutbot{
  cursor: alias;
  border-radius: 3rem;
  background-color: red;
}

.feedmsg{
  font-family: cursive;
  color: blue;
  text-decoration: solid;
  text-shadow: #61dafb;
}
.feedbackform{
  width: 80%;
  box-sizing:border-box;
  border: 3px solid #ccc;
  background-color:greenyellow;
  margin: 6px 0;
  margin-left: 500px;
  border-radius: 8px;
  border-bottom-color: aqua;
  border-style: double;
  border-color: chartreuse;

}
/* background-image: url('./image/panda.jpg'); */

.homesecond{
  margin-top: 10rem;
 
  border: 3px solid #ccc;
  margin-left: 80px;
}
.homethird{
  margin-left: 80px;
  border-radius: 3rem;
  border-color: aqua;
}
.homefor{
  margin-left: 40px;
  background-color: #282c34;
}


.container-slider {
  max-width: 700px;
  height: 500px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px){
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}


.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
.regbackground{
background-image: url('./image/reg.png');

}
.subbackground{
  background-image: url('./image/sup.jpg');
}
.probackground{
  background-image: url('./image/pandaa.jpg');
}